<!DOCTYPE html>
<title>Letterboxer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%
  const deps = new Set(Object.values(bundle).find(chunk => chunk.isEntry && chunk.fileName.startsWith("init-")).imports);
  for(const dep of deps) { 
    const chunk = bundle[dep];
    (chunk.deps || []).forEach(dep => deps.add(dep));
%>
  <link rel="preload" href="<%= chunk.fileName; %>" as="script" />
<% } %>
<link rel="manifest" href="<%= Object.values(bundle).find(chunk => chunk.fileName.startsWith("manifest.")).fileName; %>" />
<style>
  html, body {
    background: #ddd;
  }
</style>

<main id="output">
  <style>
    file-drop {
      display: block;
      width: 100%;
      height: 100vh;
    }
    .drop-valid {
      background: green;
    }
    .drop-invalid {
      background: red;
    }
  </style>
  <file-drop accept="image/*" id="dropzone">
    <input type="file" accept="image/png, image/jpeg" id="file" />
  </file-drop>
</main>

<script src="<%= Object.values(bundle).find(chunk => chunk.isEntry && chunk.fileName.startsWith("init-")).fileName; %>"></script>
