<!DOCTYPE html>
<title>Letterboxer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%
  function getChunk(name) {
    return Object.values(bundle)
      .find(chunk => (chunk.isEntry || chunk.isDynamicEntry) && chunk.fileName.startsWith(`${name}-`));
  }
  const init = getChunk("init");
  const main = getChunk("main");
  const deps = new Set([
    init.fileName,
    ...init.imports,
    main.fileName,
    ...main.imports
  ]);
  for(const dep of deps) { 
    const chunk = bundle[dep];
    (chunk.deps || []).forEach(dep => deps.add(dep));
%>
  <link rel="preload" href="<%= chunk.fileName; %>" as="script" />
<% } %>
<link rel="manifest" href="<%= Object.values(bundle).find(chunk => chunk.fileName.startsWith("manifest.")).fileName; %>" />
<style>
  html, body {
    background: #ddd;
  }
</style>

<main id="output">
  <file-drop accept="image/*" id="dropzone">
    <style>
      file-drop {
        display: block;
        width: 100%;
        height: 100vh;
      }
      .drop-valid {
        background: green;
      }
      .drop-invalid {
        background: red;
      }
    </style>
    <input type="file" accept="image/png, image/jpeg" id="file" />
  </file-drop>
</main>

<script src="<%= Object.values(bundle).find(chunk => chunk.isEntry && chunk.fileName.startsWith("init-")).fileName; %>"></script>
