<!DOCTYPE html>
<title>Letterboxer</title>
<style>
  canvas {
    width: 100%;
  }
</style>

<form id="form">
  <input type="file" accept="image/png, image/jpeg" id="file" />
  <input type="number" value="1" min="1" max="4000" id="width" />
  <input type="number" value="1" min="1" max="4000" id="height" />
  <input type="color" value="#ffffff" id="color" />
  <input type="submit" value="Letterbox!" />
</form>
<div id="output"></div>

<script src="<%= Object.values(bundle).find(chunk => chunk.isEntry).fileName; %>"></script>
